#       OS        #
###################
.DS_Store
.idea
Thumbs.db
tmp
temp

#     Node.js     #
###################
node_modules
package-lock.json
yarn.lock

#       NYC       #
###################
coverage
.nyc_output
